/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply h-full bg-black text-white;
}

form {
	@apply flex flex-col pt-8 max-w-lg w-full;
}

a.active {
	color: #fffb00;
	text-decoration: overline;
	text-decoration-color: #328eef;
}
