@import 'tailwindcss';

html,
body {
	height: 100%;
	background-color: black;
	color: white;
	overflow: hidden;
}

* {
	font-family: 'Fredoka', sans-serif;
}

a {
	color: white;
	transition: color 0.2s;
}

a:hover {
	color: #fffb00;
}
