@import 'tailwindcss';

html,
body {
	@apply h-full bg-black text-white overflow-hidden;
}

form {
	@apply flex flex-col pt-8 max-w-lg w-full;
}

a:hover {
	color: #fffb00;
}

a.active {
	color: #fffb00;
	text-decoration: overline;
	text-decoration-color: #328eef;
}
